@layer theme {
  :root {
    color-scheme: light;
    --background: oklch(1 0 0);
    --foreground: oklch(0.1884 0.0128 248.5103);
    --primary: oklch(0.6818 0.1584 243.354);
    --border: oklch(0.9317 0.0118 231.6594);
    --muted-foreground: oklch(0.1884 0.0128 248.5103);
    --surface: oklch(0.9784 0.0011 197.1387);
    --surface-strong: oklch(0.9222 0.0013 286.3737);
    --text-muted: var(--muted-foreground);
    --grid-line: var(--border);
    --sidebar: oklch(0.2097 0.008 274.5332);
    --sidebar-foreground: oklch(0.8853 0 0);
    --sidebar-primary: oklch(0.6818 0.1584 243.354);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.1928 0.0331 242.5459);
    --sidebar-border: oklch(0.3795 0.022 240.5943);
    --font-sans: "Open Sans", sans-serif;
  }

  :root[data-theme="dark"] {
    color-scheme: dark;
    --background: oklch(0 0 0);
    --foreground: oklch(0.9328 0.0025 228.7857);
    --primary: oklch(0.6818 0.1584 243.354);
    --border: oklch(0.2674 0.0047 248.0045);
    --muted-foreground: oklch(0.5637 0.0078 247.9662);
    --surface: oklch(0.2097 0.008 274.5332);
    --surface-strong: oklch(0.209 0 0);
    --text-muted: var(--muted-foreground);
    --grid-line: var(--border);
    --sidebar: oklch(0.2097 0.008 274.5332);
    --sidebar-foreground: oklch(0.8853 0 0);
    --sidebar-primary: oklch(0.6818 0.1584 243.354);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.1928 0.0331 242.5459);
    --sidebar-border: oklch(0.3795 0.022 240.5943);
    --font-sans: "Open Sans", sans-serif;
  }
}
