name: Release

on:
  push:
    branches:
      - master

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Use Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm turbo build --filter=!@catalogue/example-app

      - name: Generate changeset
        run: pnpm changeset:auto

      - name: Version
        if: github.ref == 'refs/heads/master'
        run: pnpm version


      - name: Commit version
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add -A
          git commit -m "chore(release): version packages" || true
          git push

      - name: Verify publish
        run: pnpm verify:publish

      - name: Publish (master)
        if: github.ref == 'refs/heads/master'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm publish
